.TodoSearch {
  background: #F9FBFC;
  border-radius: 15px;
  border: none;
  margin: 10px 0px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  color: #2d2d2e;
  box-shadow: 0px 1px 15px #b8b8ff;
  margin-bottom: 25px;
  align-items: center;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #b8b8ff;
}

p {
  margin-left: 10px;
}
